body {
}

#info {
    height: 50px;
}

#circlebars {
    margin: 0;
    padding: 0;
}

#metaInfo {
    padding-left: 40px;
    width: 400px;
}

.column {
    bottom: 0;
    position: absolute;
}

.filtered {
    stroke: #222;
    stroke-width: 5;
}

